/.idea
/crash-reports/
/journeymap/
/libraries/
/local/
/logs/
/modernfix/
/patchouli_books/
/simplebackups/
/banned-ips.json
/banned-players.json
/eula.txt
/fabricloader.log
/ops.json
/rhino.local.properties
/usercache.json
/usernamecache.json
/whitelist.json
/xaerominimap-common.txt
/xaeroworldmap-common.txt
/mods/.connector/*
/world/*

!/world/datapacks
!/world/serverconfig

